@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Diseño y Administración de Bases de Datos</h1>
    <h2>Trabajo Practico Final 2018: "Depósito de Alimentos"</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Escenario
        </h3>
        <p>
            Como parte de su estrategia de expansión en el NEA, la cadena de supermercados SUPERCARO SA, acaba de construir un nuevo depósito de última generación que servirá además como centro de distribución a sus clientes mayoristas, este contará con un sistema de gestión totalmente informatizado y empleará a casi una veintena de personas.
            Productos alamcenados
            Los productos que pasarán por este nuevo depósito serán solo productos alimenticios. Todo producto alimenticio que quiera ser comercializado y transportado en la Argentina debe estar aprobado por la Administración Nacional de Medicamentos, Alimentos y Tecnología médica (ANMAT) y poseer un Registro Nacional de Producto Alimenticio (RNPA), se usará dicho registro para describir a un producto determinado.
            Por ejemplo:

        </p>
        <p><img src="~/Content/Escenario.jpg" /></p>
        <p>
            Los productos se comercializan en diferentes envases: Lata de aluminio, Lata de hojalata, Lata de chapa, Botella de vidrio, Botella de plástico, etc. Así la unidad de venta (presentación) tiene un peso, volumen y descripción extra.
            Dichos productos pertenecen a diferentes categorías, por ejemplo, productos lácteos, frutas, bebidas, alimentos congelados, etc.
            Los productos llegan en lotes, se considera que todos los productos de un lote tienen las mismas características: el mismo embalaje, la misma composición, las mismas fechas de consumo, etc.
            Cuando un nuevo producto llega al depósito, se registra un nuevo lote, este registro muestra la fecha de entrada en el almacén y la fecha de retiro, la cantidad almacenada, etc. La fecha de retiro puede consignarse a un producto vencido o debido a la entrega a un cliente.
            Cada establecimiento que comercializa productos con RNPA tiene asociado un Registro Nacional de Establecimiento (RNE), con toda la información referida a la empresa autorizada, si bien los números de RNPA son únicos dentro de un establecimiento, no se garantiza su unicidad entre distintos establecimientos.
        </p>
    </div>
</div>