ConsultorioDesktop/Consultorio/obj/
ConsultorioDesktop/Consultorio/bin/
Consultorio.Modelo/Consultorio.Modelo/obj/
Consultorio.Modelo/Consultorio.Modelo/bin/
ConsultorioDesktop/.vs/
ConsultorioWeb/ConsultorioWeb/obj/
ConsultorioWeb/ConsultorioWeb/bin/
ConsultorioWeb/.vs/
*.suo
*.user
