USE [Clinica]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/10/2018 22:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/10/2018 22:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/10/2018 22:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/10/2018 22:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/10/2018 22:51:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/10/2018 22:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 18/10/2018 22:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[CiudadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DepartamentoId] [int] NULL,
	[CodigoPostal] [int] NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CiudadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 18/10/2018 22:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProvinciaId] [int] NULL,
 CONSTRAINT [PK_Departamentoes] PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 18/10/2018 22:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioPorDefecto] [money] NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdFormaDePago] [int] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaDePago]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaDePago](
	[IdFormaDePago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FormaDePago] PRIMARY KEY CLUSTERED 
(
	[IdFormaDePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriaClinica]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[IdHistoriaClinica] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[UltimaActualizacion] [date] NOT NULL,
	[AntecedentesMedicos] [nvarchar](250) NULL,
	[GrupoSanguineo] [nchar](10) NULL,
	[Donante] [bit] NOT NULL,
	[Transplantado] [bit] NOT NULL,
 CONSTRAINT [PK_HistoriaClinica] PRIMARY KEY CLUSTERED 
(
	[IdHistoriaClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineaFactura]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaFactura](
	[IdLineaFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdTurno] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Monto] [money] NOT NULL,
 CONSTRAINT [PK_LineaFactura] PRIMARY KEY CLUSTERED 
(
	[IdLineaFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[MatriculaMedico] [nvarchar](50) NOT NULL,
	[LunesHorarioId] [int] NOT NULL,
	[MartesHorarioId] [int] NOT NULL,
	[MiercolesHorarioId] [int] NOT NULL,
	[JuevesHorarioId] [int] NOT NULL,
	[ViernesHorarioId] [int] NOT NULL,
	[SabadoHorarioId] [int] NOT NULL,
	[DomingoHorarioId] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoEspecialidad]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicoId] [int] NOT NULL,
	[EspecialidadId] [int] NOT NULL,
 CONSTRAINT [PK_MedicoEspecialidad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [bigint] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [nvarchar](15) NOT NULL,
	[PrimeraAtencion] [bit] NOT NULL,
	[TelCelular] [nvarchar](20) NULL,
	[IdHistoriaClinica] [int] NULL,
	[IdFormaPagoPorDefecto] [int] NULL,
	[IdSeguroMedico] [int] NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[CodigoPostal] [nvarchar](50) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[IdPais] [int] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProvinciaId] [int] NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInterno]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInterno](
	[IdPersonal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [bigint] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NULL,
	[Sexo] [nvarchar](15) NULL,
	[EstadoCivil] [nvarchar](50) NULL,
	[TelCel] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Activo] [bit] NOT NULL,
	[Direccion] [nvarchar](100) NULL,
	[IdCiudad] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdPais] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdMedico] [int] NULL,
 CONSTRAINT [PK_PersonalInterno] PRIMARY KEY CLUSTERED 
(
	[IdPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ProvinciaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[PaisId] [int] NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ProvinciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedico]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedico](
	[IdSeguroMedico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SegurosMedicos] PRIMARY KEY CLUSTERED 
(
	[IdSeguroMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedicosMedico]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedicosMedico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdSeguroMedico] [int] NOT NULL,
 CONSTRAINT [PK_SegurosMedicosMedicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedicosPaciente]    Script Date: 18/10/2018 22:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedicosPaciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdSeguroMedico] [int] NOT NULL,
	[ConvenioActivo] [bit] NOT NULL,
 CONSTRAINT [PK_SegurosMedicosClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 18/10/2018 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdFormaDePago] [int] NOT NULL,
	[FechaYHora] [datetime] NOT NULL,
	[IdSeguroMedico] [int] NULL,
	[Diagnostico] [nvarchar](200) NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Asistio] [bit] NOT NULL,
	[Atendido] [bit] NOT NULL,
	[PrecioTurno] [money] NOT NULL,
	[IdEspecialidadMedico] [int] NOT NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/10/2018 22:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
	[EsAdministrador] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Medico')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4', N'Paciente')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1e3b8372-0beb-499d-9ed7-9cb5a9480709', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'36081cdb-6bc0-4ab4-80c7-8a288ce4f890', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c701e7ea-db3f-4902-aa51-51aab18ec95d', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1e3b8372-0beb-499d-9ed7-9cb5a9480709', N'leo.rowies@gmail.com', 1, N'ALwUx3uEt3N6cYmyTglmvlv5PmP7IV74dQ14h5/UwDwEIKJnz8dM6qNQY9v4jZvJaA==', N'e77744bf-d1fa-43b3-ab69-2e92421ad397', NULL, 0, 0, NULL, 0, 0, N'leo.rowies@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2294247e-fb82-4f06-af97-db4c91ef29f7', N'paciente1@gmai.com', 1, N'ABTkbfp3yg7CAB8zj8e9L5nL96CdJDf97PqsS7MCZH3EW3I0pLMqXEFe5Ih3MtJ3Wg==', N'8ea28253-9d8a-435b-8ce7-372afd650ca5', NULL, 0, 0, NULL, 0, 0, N'paciente1@gmai.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'36081cdb-6bc0-4ab4-80c7-8a288ce4f890', N'Secretario1@gmail.com', 1, N'ADS7mIlfgU82tkdWzMRxJiiqJQvsj15gLiQFcCPBnoZeuiqkkNXl87JDqqDbj//CFQ==', N'df3ab916-db7a-4316-9f09-9be28f121eae', NULL, 0, 0, NULL, 0, 0, N'Secretario1@gmail.com')
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (1, N'16 DE JULIO', 1, 3518)
INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (2, N'17 DE AGOSTO', 2, 3518)
INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (3, N'20 DE JUNIO', 3, 3518)
GO
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (1, N'AZUL', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (2, N'PUAN', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (3, N'LA MATANZA', 1)
GO
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto]) VALUES (1, N'Cardiología', 100.0000)
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto]) VALUES (2, N'Oftalmología', 200.0000)
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto]) VALUES (3, N'Neurología', 300.0000)
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
SET IDENTITY_INSERT [dbo].[FormaDePago] ON 

INSERT [dbo].[FormaDePago] ([IdFormaDePago], [Nombre]) VALUES (1, N'Particular')
INSERT [dbo].[FormaDePago] ([IdFormaDePago], [Nombre]) VALUES (2, N'Obra Social')
SET IDENTITY_INSERT [dbo].[FormaDePago] OFF
SET IDENTITY_INSERT [dbo].[HistoriaClinica] ON 

INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [FechaInicio], [UltimaActualizacion], [AntecedentesMedicos], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (1, CAST(N'2018-10-01' AS Date), CAST(N'2018-10-01' AS Date), N'', NULL, 0, 0)
INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [FechaInicio], [UltimaActualizacion], [AntecedentesMedicos], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (2, CAST(N'2018-10-18' AS Date), CAST(N'2018-10-18' AS Date), N'test', N'O -       ', 0, 0)
INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [FechaInicio], [UltimaActualizacion], [AntecedentesMedicos], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (3, CAST(N'2018-10-18' AS Date), CAST(N'2018-10-18' AS Date), N'nada', N'O -       ', 0, 0)
SET IDENTITY_INSERT [dbo].[HistoriaClinica] OFF
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (1, N'No Atiende')
INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (2, N'Mañana y Tarde')
INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (3, N'Mañana')
SET IDENTITY_INSERT [dbo].[Horario] OFF
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (1, N'1', 2, 3, 4, 2, 3, 4, 2)
INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (4, N'12345', 3, 3, 4, 2, 4, 4, 1)
INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (5, N'12345', 4, 3, 4, 2, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[Medico] OFF
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] ON 

INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (1, 6, 1)
INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (2, 6, 2)
INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (3, 6, 3)
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] OFF
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([IdPaciente], [Nombres], [Apellidos], [Email], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [PrimeraAtencion], [TelCelular], [IdHistoriaClinica], [IdFormaPagoPorDefecto], [IdSeguroMedico], [Direccion], [CodigoPostal], [IdCiudad], [IdProvincia], [IdPais]) VALUES (4, N'PACIENTE 1', N'PACIENTE 1', N'paciente1@gmai.com', 123456, CAST(N'2018-10-01' AS Date), 0, N'Femenino', 1, N'123456', 5, NULL, NULL, N'1', N'3518', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (1, N'ARGENTINA', NULL)
INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (2, N'ARGENTINA', NULL)
INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (3, N'ARGENTINA', NULL)
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[PersonalInterno] ON 

INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico]) VALUES (9, N'test', N'test', 1, CAST(N'2018-09-22' AS Date), NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico]) VALUES (10, N'medico 1', N'medico', 1, CAST(N'2018-09-22' AS Date), NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, 4)
INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico]) VALUES (11, N'asd', N'asd', 1, CAST(N'2018-09-22' AS Date), NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, 6, 5)
SET IDENTITY_INSERT [dbo].[PersonalInterno] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (1, N'BUENOS AIRES', 1)
INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (2, N'CATAMARCA', 1)
INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (3, N'CHACO', 1)
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[SegurosMedico] ON 

INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre]) VALUES (1, N'OS PERSONAL ASOC MUTUAL SANCOR')
INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre]) VALUES (2, N'FEDECAMARAS')
INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre]) VALUES (3, N'MUTUAL DEL PERSONAL DEL AGUA Y LA ENERGIA MENDOZA')
SET IDENTITY_INSERT [dbo].[SegurosMedico] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador]) VALUES (2, N'leo', N'leo', 0)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador]) VALUES (6, N'medico1', N'medico1', 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamentoes_Ciudads] FOREIGN KEY([ProvinciaId])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamentoes_Ciudads]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamentoes_Provincias] FOREIGN KEY([ProvinciaId])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamentoes_Provincias]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_FormaDePago] FOREIGN KEY([IdFormaDePago])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_FormaDePago]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Medico]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Paciente]
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_Factura]
GO
ALTER TABLE [dbo].[LineaFactura]  WITH CHECK ADD  CONSTRAINT [FK_LineaFactura_Turnos] FOREIGN KEY([IdTurno])
REFERENCES [dbo].[Turno] ([IdTurno])
GO
ALTER TABLE [dbo].[LineaFactura] CHECK CONSTRAINT [FK_LineaFactura_Turnos]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario] FOREIGN KEY([LunesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario1] FOREIGN KEY([MartesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario1]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario2] FOREIGN KEY([MiercolesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario2]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario3] FOREIGN KEY([JuevesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario3]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario4] FOREIGN KEY([ViernesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario4]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario5] FOREIGN KEY([SabadoHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario5]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario6] FOREIGN KEY([DomingoHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario6]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Especialidad1] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Especialidad1]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Medico1] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Medico1]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Ciudad]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_FormaDePago] FOREIGN KEY([IdFormaPagoPorDefecto])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_FormaDePago]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_HistoriaClinica] FOREIGN KEY([IdHistoriaClinica])
REFERENCES [dbo].[HistoriaClinica] ([IdHistoriaClinica])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_HistoriaClinica]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Pais]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Provincia]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Ciudad]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Medico]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Pais]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Provincia]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Usuarios1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Usuarios1]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincias_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincias_Pais]
GO
ALTER TABLE [dbo].[SegurosMedicosMedico]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosMedico_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosMedico] CHECK CONSTRAINT [FK_SegurosMedicosMedico_Medico]
GO
ALTER TABLE [dbo].[SegurosMedicosMedico]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosMedicos_SegurosMedicos] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosMedico] CHECK CONSTRAINT [FK_SegurosMedicosMedicos_SegurosMedicos]
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosClientes_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente] CHECK CONSTRAINT [FK_SegurosMedicosClientes_Paciente]
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosPaciente_SegurosMedico] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente] CHECK CONSTRAINT [FK_SegurosMedicosPaciente_SegurosMedico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Especialidad] FOREIGN KEY([IdEspecialidadMedico])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_FormaDePago] FOREIGN KEY([IdFormaDePago])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_FormaDePago]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Medico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Paciente]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_SegurosMedico] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_SegurosMedico]
GO
