@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<address>
    Leonardo López<br />
    Resistencia, Chaco, Argentina<br />
    <abbr title="Phone">P:</abbr>
    +54 9 362 461-0343
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@sagradafamilia.com.ar">soporte@sagradafamilia.com.ar</a><br />
</address>