@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<address>
    Leonardo López<br />
    @ViewBag.Direccion<br />
    <abbr title="Phone">P:</abbr>
    @ViewBag.Telefono
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:@ViewBag.Email">@ViewBag.Email</a><br />
</address>