@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>@ViewBag.Mision</p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>@ViewBag.Vision</p>
    </div>
    <div class="col-md-4">
        <h2>Descripción</h2>
        <p>@ViewBag.Descripcion</p>
    </div>
</div>