USE [Clinica]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15/11/2018 22:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bancos]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bancos](
	[IdBanco] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[BajaLogica] [bit] NOT NULL,
	[CodigoBCRA] [int] NOT NULL,
 CONSTRAINT [PK_Bancos] PRIMARY KEY CLUSTERED 
(
	[IdBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bancos_Tarjetas]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bancos_Tarjetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTarjeta] [int] NOT NULL,
	[IdBanco] [int] NOT NULL,
 CONSTRAINT [PK_Bancos_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[CiudadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DepartamentoId] [int] NULL,
	[CodigoPostal] [int] NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CiudadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProvinciaId] [int] NULL,
 CONSTRAINT [PK_Departamentoes] PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PrecioPorDefecto] [money] NOT NULL,
	[BajaLogica] [bit] NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdTurno] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdFormaDePago] [int] NOT NULL,
	[Monto] [money] NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[IdTarjeta] [int] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaDePago]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaDePago](
	[IdFormaDePago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FormaDePago] PRIMARY KEY CLUSTERED 
(
	[IdFormaDePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriaClinica]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[IdHistoriaClinica] [int] IDENTITY(1,1) NOT NULL,
	[FechaAtencion] [date] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdTurno] [int] NULL,
 CONSTRAINT [PK_HistoriaClinica] PRIMARY KEY CLUSTERED 
(
	[IdHistoriaClinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoConsultorio]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoConsultorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NombreConsultorio] [nvarchar](100) NOT NULL,
	[Dirección] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DiasyHorariosAtencion] [nvarchar](150) NOT NULL,
	[Web] [nchar](150) NULL,
 CONSTRAINT [PK_InfoConsultorio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[MatriculaMedico] [nvarchar](50) NOT NULL,
	[LunesHorarioId] [int] NOT NULL,
	[MartesHorarioId] [int] NOT NULL,
	[MiercolesHorarioId] [int] NOT NULL,
	[JuevesHorarioId] [int] NOT NULL,
	[ViernesHorarioId] [int] NOT NULL,
	[SabadoHorarioId] [int] NOT NULL,
	[DomingoHorarioId] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicoEspecialidad]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicoId] [int] NOT NULL,
	[EspecialidadId] [int] NOT NULL,
 CONSTRAINT [PK_MedicoEspecialidad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [bigint] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [nvarchar](15) NOT NULL,
	[PrimeraAtencion] [bit] NOT NULL,
	[TelCelular] [nvarchar](20) NULL,
	[IdFormaPagoPorDefecto] [int] NULL,
	[IdSeguroMedico] [int] NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[CodigoPostal] [nvarchar](50) NOT NULL,
	[IdCiudad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[IdPais] [int] NOT NULL,
	[GrupoSanguineo] [nchar](10) NULL,
	[Donante] [bit] NULL,
	[Transplantado] [bit] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Tarjetas]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Tarjetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdTarjeta] [int] NOT NULL,
 CONSTRAINT [PK_Paciente_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 15/11/2018 22:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ProvinciaId] [int] NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInterno]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInterno](
	[IdPersonal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [bigint] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NULL,
	[Sexo] [nvarchar](15) NULL,
	[EstadoCivil] [nvarchar](50) NULL,
	[TelCel] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Activo] [bit] NOT NULL,
	[Direccion] [nvarchar](100) NULL,
	[IdCiudad] [int] NULL,
	[IdProvincia] [int] NULL,
	[IdPais] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdMedico] [int] NULL,
	[Bajalogica] [bit] NOT NULL,
 CONSTRAINT [PK_PersonalInterno] PRIMARY KEY CLUSTERED 
(
	[IdPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ProvinciaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[PaisId] [int] NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ProvinciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedico]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedico](
	[IdSeguroMedico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[BajaLogica] [bit] NOT NULL,
 CONSTRAINT [PK_SegurosMedicos] PRIMARY KEY CLUSTERED 
(
	[IdSeguroMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedicosMedico]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedicosMedico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdSeguroMedico] [int] NOT NULL,
 CONSTRAINT [PK_SegurosMedicosMedicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SegurosMedicosPaciente]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SegurosMedicosPaciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdSeguroMedico] [int] NOT NULL,
	[ConvenioActivo] [bit] NOT NULL,
 CONSTRAINT [PK_SegurosMedicosClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[IdTarjeta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Titular] [nvarchar](50) NOT NULL,
	[NumeroTarjeta] [nvarchar](16) NOT NULL,
	[FechaVto] [date] NOT NULL,
	[IdBanco] [int] NOT NULL,
	[BajaLogica] [bit] NOT NULL,
 CONSTRAINT [PK_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[IdTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdFormaDePago] [int] NOT NULL,
	[FechaYHora] [datetime] NOT NULL,
	[IdSeguroMedico] [int] NULL,
	[Diagnostico] [nvarchar](200) NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Asistio] [bit] NOT NULL,
	[Atendido] [bit] NOT NULL,
	[PrecioTurno] [money] NOT NULL,
	[IdEspecialidadMedico] [int] NOT NULL,
	[IdFactura] [int] NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/11/2018 22:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
	[EsAdministrador] [bit] NOT NULL,
	[BajaLogica] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Usuario')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Medico')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1e3b8372-0beb-499d-9ed7-9cb5a9480709', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2294247e-fb82-4f06-af97-db4c91ef29f7', N'4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'258b59a5-0510-4c8e-8c3b-36f010b24744', N'4')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1e3b8372-0beb-499d-9ed7-9cb5a9480709', N'leo.rowies@gmail.com', 1, N'ALwUx3uEt3N6cYmyTglmvlv5PmP7IV74dQ14h5/UwDwEIKJnz8dM6qNQY9v4jZvJaA==', N'e77744bf-d1fa-43b3-ab69-2e92421ad397', NULL, 0, 0, NULL, 0, 0, N'leo.rowies@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2294247e-fb82-4f06-af97-db4c91ef29f7', N'paciente1@gmail.com', 1, N'ABTkbfp3yg7CAB8zj8e9L5nL96CdJDf97PqsS7MCZH3EW3I0pLMqXEFe5Ih3MtJ3Wg==', N'8ea28253-9d8a-435b-8ce7-372afd650ca5', NULL, 0, 0, NULL, 0, 0, N'paciente1@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'258b59a5-0510-4c8e-8c3b-36f010b24744', N'leo@leo.com', 1, N'AN1PznRxGJ3pxwAYVsPOcZ/ht+fmRarvfCsVqW5UkrOFu+3XXYUsvlxtqGbno9c37Q==', N'c0cf516e-60a1-466b-b9a0-8b925f74b105', NULL, 0, 0, NULL, 0, 0, N'leo@leo.com')
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (1, N'16 DE JULIO', 1, 3518)
INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (2, N'17 DE AGOSTO', 2, 3518)
INSERT [dbo].[Ciudad] ([CiudadId], [Nombre], [DepartamentoId], [CodigoPostal]) VALUES (3, N'20 DE JUNIO', 3, 3518)
GO
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (1, N'AZUL', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (2, N'PUAN', 1)
INSERT [dbo].[Departamento] ([DepartamentoId], [Nombre], [ProvinciaId]) VALUES (3, N'LA MATANZA', 1)
GO
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto], [BajaLogica]) VALUES (1, N'Cardiología 3', 1.0000, 0)
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto], [BajaLogica]) VALUES (2, N'Oftalmología', 200.0000, 0)
INSERT [dbo].[Especialidad] ([EspecialidadId], [Nombre], [PrecioPorDefecto], [BajaLogica]) VALUES (3, N'Neurología', 300.0000, 0)
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IdFactura], [IdTurno], [Fecha], [IdFormaDePago], [Monto], [Descripcion], [IdTarjeta]) VALUES (1, 9, CAST(N'2018-11-12T21:43:30.307' AS DateTime), 1, 200.0000, N'test 1', 1)
INSERT [dbo].[Factura] ([IdFactura], [IdTurno], [Fecha], [IdFormaDePago], [Monto], [Descripcion], [IdTarjeta]) VALUES (2, 7, CAST(N'2018-11-12T21:44:32.783' AS DateTime), 1, 50123.0000, N'test 2', 2)
SET IDENTITY_INSERT [dbo].[Factura] OFF
SET IDENTITY_INSERT [dbo].[FormaDePago] ON 

INSERT [dbo].[FormaDePago] ([IdFormaDePago], [Nombre]) VALUES (1, N'Particular')
INSERT [dbo].[FormaDePago] ([IdFormaDePago], [Nombre]) VALUES (2, N'Seguro Médico')
SET IDENTITY_INSERT [dbo].[FormaDePago] OFF
SET IDENTITY_INSERT [dbo].[HistoriaClinica] ON 

INSERT [dbo].[HistoriaClinica] ([IdHistoriaClinica], [FechaAtencion], [Descripcion], [IdPaciente], [IdTurno]) VALUES (1, CAST(N'2018-11-15' AS Date), N'test', 6, NULL)
SET IDENTITY_INSERT [dbo].[HistoriaClinica] OFF
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (1, N'No Atiende')
INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (2, N'Mañana y Tarde')
INSERT [dbo].[Horario] ([IdHorario], [Nombre]) VALUES (3, N'Mañana')
SET IDENTITY_INSERT [dbo].[Horario] OFF
SET IDENTITY_INSERT [dbo].[InfoConsultorio] ON 

INSERT [dbo].[InfoConsultorio] ([id], [NombreConsultorio], [Dirección], [Telefono], [Email], [DiasyHorariosAtencion], [Web]) VALUES (1, N'Consultorios Sagrada Familia', N'Calle Falsa 123', N'3624610343', N'sagrada.familia.notificaciones@gmail.com', N'Lunes a Viernes de 8 a 12:30 y de 16 a 20:30', N'consultorioweb.azurewebsites.net                                                                                                                      ')
SET IDENTITY_INSERT [dbo].[InfoConsultorio] OFF
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (1, N'1', 2, 3, 4, 2, 3, 4, 2)
INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (4, N'12345', 3, 3, 4, 2, 4, 4, 1)
INSERT [dbo].[Medico] ([IdMedico], [MatriculaMedico], [LunesHorarioId], [MartesHorarioId], [MiercolesHorarioId], [JuevesHorarioId], [ViernesHorarioId], [SabadoHorarioId], [DomingoHorarioId]) VALUES (5, N'12345', 4, 3, 4, 2, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[Medico] OFF
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] ON 

INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (1, 6, 1)
INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (2, 6, 2)
INSERT [dbo].[MedicoEspecialidad] ([Id], [MedicoId], [EspecialidadId]) VALUES (3, 6, 3)
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] OFF
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([IdPaciente], [Nombres], [Apellidos], [Email], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [PrimeraAtencion], [TelCelular], [IdFormaPagoPorDefecto], [IdSeguroMedico], [Direccion], [CodigoPostal], [IdCiudad], [IdProvincia], [IdPais], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (4, N'PACIENTE 1', N'PACIENTE 1', N'paciente1@gmail.com', 123456, CAST(N'2017-04-03' AS Date), 1, N'Masculino', 1, N'123456', NULL, NULL, N'1', N'3518', 1, 1, 1, N'-         ', 1, 0)
INSERT [dbo].[Paciente] ([IdPaciente], [Nombres], [Apellidos], [Email], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [PrimeraAtencion], [TelCelular], [IdFormaPagoPorDefecto], [IdSeguroMedico], [Direccion], [CodigoPostal], [IdCiudad], [IdProvincia], [IdPais], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (5, N'LOPIN', N'DANOL', N'lop64@yopmail.com', 21345678, CAST(N'1964-03-12' AS Date), 54, N'Masculino', 1, N'3625345678', NULL, NULL, N'larroqute s/n', N'3518', 1236, 3, 1, N'-         ', NULL, NULL)
INSERT [dbo].[Paciente] ([IdPaciente], [Nombres], [Apellidos], [Email], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [PrimeraAtencion], [TelCelular], [IdFormaPagoPorDefecto], [IdSeguroMedico], [Direccion], [CodigoPostal], [IdCiudad], [IdProvincia], [IdPais], [GrupoSanguineo], [Donante], [Transplantado]) VALUES (6, N'TEST', N'TEST', N'leo@leo.com', 123456, CAST(N'1988-12-28' AS Date), 29, N'Masculino', 1, N'123', NULL, NULL, N'asd 123', N'3518', 2, 1, 1, N'A +       ', 1, 1)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (1, N'ARGENTINA', NULL)
INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (2, N'ARGENTINA', NULL)
INSERT [dbo].[Pais] ([PaisId], [Nombre], [ProvinciaId]) VALUES (3, N'ARGENTINA', NULL)
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[PersonalInterno] ON 

INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico], [Bajalogica]) VALUES (11, N'asd', N'asd', 1, CAST(N'2018-09-22' AS Date), NULL, NULL, NULL, NULL, N'test@test.com', 1, NULL, NULL, NULL, NULL, 6, 5, 0)
INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico], [Bajalogica]) VALUES (12, N'asd', N'asd', 123, CAST(N'2000-01-01' AS Date), 18, N'Femenino', N'', N'', N'test@test.com', 1, N'', NULL, NULL, NULL, 7, NULL, 0)
INSERT [dbo].[PersonalInterno] ([IdPersonal], [Nombre], [Apellido], [NumeroDocumento], [FechaNacimiento], [Edad], [Sexo], [EstadoCivil], [TelCel], [Email], [Activo], [Direccion], [IdCiudad], [IdProvincia], [IdPais], [IdUsuario], [IdMedico], [Bajalogica]) VALUES (13, N'a', N'a', 1, CAST(N'2000-01-01' AS Date), NULL, NULL, NULL, NULL, N'test@test.com', 1, NULL, NULL, NULL, NULL, 8, 6, 0)
SET IDENTITY_INSERT [dbo].[PersonalInterno] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (1, N'BUENOS AIRES', 1)
INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (2, N'CATAMARCA', 1)
INSERT [dbo].[Provincia] ([ProvinciaId], [Nombre], [PaisId]) VALUES (3, N'CHACO', 1)
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[SegurosMedico] ON 

INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre], [BajaLogica]) VALUES (1, N'OS PERSONAL ASOC MUTUAL SANCOR', 1)
INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre], [BajaLogica]) VALUES (2, N'FEDECAMARAS', 0)
INSERT [dbo].[SegurosMedico] ([IdSeguroMedico], [Nombre], [BajaLogica]) VALUES (3, N'MUTUAL DEL PERSONAL DEL AGUA Y LA ENERGIA MENDOZA', 0)
SET IDENTITY_INSERT [dbo].[SegurosMedico] OFF
SET IDENTITY_INSERT [dbo].[Tarjetas] ON 

INSERT [dbo].[Tarjetas] ([IdTarjeta], [Nombre], [Titular], [NumeroTarjeta], [FechaVto], [IdBanco], [BajaLogica]) VALUES (0, N'visa', N'leo', N'123123', CAST(N'2018-11-01' AS Date), 0, 0)
INSERT [dbo].[Tarjetas] ([IdTarjeta], [Nombre], [Titular], [NumeroTarjeta], [FechaVto], [IdBanco], [BajaLogica]) VALUES (1, N'1', N'1', N'1', CAST(N'2018-10-01' AS Date), 0, 0)
INSERT [dbo].[Tarjetas] ([IdTarjeta], [Nombre], [Titular], [NumeroTarjeta], [FechaVto], [IdBanco], [BajaLogica]) VALUES (2, N'2', N'2', N'2', CAST(N'2019-10-01' AS Date), 0, 0)
SET IDENTITY_INSERT [dbo].[Tarjetas] OFF
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([IdTurno], [IdMedico], [IdPaciente], [IdFormaDePago], [FechaYHora], [IdSeguroMedico], [Diagnostico], [Descripcion], [Asistio], [Atendido], [PrecioTurno], [IdEspecialidadMedico], [IdFactura]) VALUES (4, 7, 4, 2, CAST(N'2018-11-14T16:00:00.000' AS DateTime), 26, N'', N'', 1, 1, 50.0000, 5, NULL)
INSERT [dbo].[Turno] ([IdTurno], [IdMedico], [IdPaciente], [IdFormaDePago], [FechaYHora], [IdSeguroMedico], [Diagnostico], [Descripcion], [Asistio], [Atendido], [PrecioTurno], [IdEspecialidadMedico], [IdFactura]) VALUES (6, 7, 4, 2, CAST(N'2018-11-14T16:15:00.000' AS DateTime), 1, N'asddsa', N'asddsaasd', 1, 1, 50.0000, 5, NULL)
INSERT [dbo].[Turno] ([IdTurno], [IdMedico], [IdPaciente], [IdFormaDePago], [FechaYHora], [IdSeguroMedico], [Diagnostico], [Descripcion], [Asistio], [Atendido], [PrecioTurno], [IdEspecialidadMedico], [IdFactura]) VALUES (7, 8, 4, 1, CAST(N'2018-11-12T08:15:00.000' AS DateTime), NULL, N'222', N'111', 1, 1, 50123.0000, 5, 2)
SET IDENTITY_INSERT [dbo].[Turno] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador], [BajaLogica]) VALUES (1, N'admin', N'admin', 1, 0)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador], [BajaLogica]) VALUES (2, N'leo', N'leo', 0, 0)
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Contrasenia], [EsAdministrador], [BajaLogica]) VALUES (6, N'medico1', N'medico1', 0, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Bancos] ADD  CONSTRAINT [DF_Bancos_BajaLogica]  DEFAULT ((0)) FOR [BajaLogica]
GO
ALTER TABLE [dbo].[Especialidad] ADD  CONSTRAINT [DF_Especialidad_BajaLogica]  DEFAULT ((0)) FOR [BajaLogica]
GO
ALTER TABLE [dbo].[PersonalInterno] ADD  CONSTRAINT [DF_PersonalInterno_Bajalogica]  DEFAULT ((0)) FOR [Bajalogica]
GO
ALTER TABLE [dbo].[SegurosMedico] ADD  CONSTRAINT [DF_SegurosMedico_BajaLogica]  DEFAULT ((0)) FOR [BajaLogica]
GO
ALTER TABLE [dbo].[Tarjetas] ADD  CONSTRAINT [DF_Tarjetas_BajaLogica]  DEFAULT ((0)) FOR [BajaLogica]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_BajaLogica]  DEFAULT ((0)) FOR [BajaLogica]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bancos_Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Bancos_Tarjetas_Bancos] FOREIGN KEY([IdBanco])
REFERENCES [dbo].[Bancos] ([IdBanco])
GO
ALTER TABLE [dbo].[Bancos_Tarjetas] CHECK CONSTRAINT [FK_Bancos_Tarjetas_Bancos]
GO
ALTER TABLE [dbo].[Bancos_Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Bancos_Tarjetas_Tarjetas] FOREIGN KEY([IdTarjeta])
REFERENCES [dbo].[Tarjetas] ([IdTarjeta])
GO
ALTER TABLE [dbo].[Bancos_Tarjetas] CHECK CONSTRAINT [FK_Bancos_Tarjetas_Tarjetas]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamentoes_Ciudads] FOREIGN KEY([ProvinciaId])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamentoes_Ciudads]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Departamentoes_Provincias] FOREIGN KEY([ProvinciaId])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Departamentoes_Provincias]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_FormaDePago] FOREIGN KEY([IdFormaDePago])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_FormaDePago]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Tarjetas] FOREIGN KEY([IdTarjeta])
REFERENCES [dbo].[Tarjetas] ([IdTarjeta])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Tarjetas]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Paciente]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Turno] FOREIGN KEY([IdTurno])
REFERENCES [dbo].[Turno] ([IdTurno])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Turno]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario] FOREIGN KEY([LunesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario1] FOREIGN KEY([MartesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario1]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario2] FOREIGN KEY([MiercolesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario2]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario3] FOREIGN KEY([JuevesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario3]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario4] FOREIGN KEY([ViernesHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario4]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario5] FOREIGN KEY([SabadoHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario5]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Horario6] FOREIGN KEY([DomingoHorarioId])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Horario6]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Especialidad1] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Especialidad1]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Medico1] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Medico1]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Ciudad]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_FormaDePago] FOREIGN KEY([IdFormaPagoPorDefecto])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_FormaDePago]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Pais]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_Paciente_Provincia]
GO
ALTER TABLE [dbo].[Paciente_Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Tarjetas_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Paciente_Tarjetas] CHECK CONSTRAINT [FK_Paciente_Tarjetas_Paciente]
GO
ALTER TABLE [dbo].[Paciente_Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Paciente_Tarjetas_Tarjetas] FOREIGN KEY([IdTarjeta])
REFERENCES [dbo].[Tarjetas] ([IdTarjeta])
GO
ALTER TABLE [dbo].[Paciente_Tarjetas] CHECK CONSTRAINT [FK_Paciente_Tarjetas_Tarjetas]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Ciudad] FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([CiudadId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Ciudad]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Medico]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Pais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Pais]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([ProvinciaId])
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Provincia]
GO
ALTER TABLE [dbo].[PersonalInterno]  WITH CHECK ADD  CONSTRAINT [FK_PersonalInterno_Usuarios1] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonalInterno] CHECK CONSTRAINT [FK_PersonalInterno_Usuarios1]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincias_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([PaisId])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincias_Pais]
GO
ALTER TABLE [dbo].[SegurosMedicosMedico]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosMedico_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosMedico] CHECK CONSTRAINT [FK_SegurosMedicosMedico_Medico]
GO
ALTER TABLE [dbo].[SegurosMedicosMedico]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosMedicos_SegurosMedicos] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosMedico] CHECK CONSTRAINT [FK_SegurosMedicosMedicos_SegurosMedicos]
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosClientes_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente] CHECK CONSTRAINT [FK_SegurosMedicosClientes_Paciente]
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente]  WITH CHECK ADD  CONSTRAINT [FK_SegurosMedicosPaciente_SegurosMedico] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[SegurosMedicosPaciente] CHECK CONSTRAINT [FK_SegurosMedicosPaciente_SegurosMedico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Especialidad] FOREIGN KEY([IdEspecialidadMedico])
REFERENCES [dbo].[Especialidad] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Factura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Factura]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_FormaDePago] FOREIGN KEY([IdFormaDePago])
REFERENCES [dbo].[FormaDePago] ([IdFormaDePago])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_FormaDePago]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Medico] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medico] ([IdMedico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Medico]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Paciente]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_SegurosMedico] FOREIGN KEY([IdSeguroMedico])
REFERENCES [dbo].[SegurosMedico] ([IdSeguroMedico])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_SegurosMedico]
GO
