@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    string userRoles = "";
    var CurrentUserRoles = System.Web.HttpContext.Current.Session["CurrentUserRoles"];
    if (CurrentUserRoles != null)
    {
        userRoles = System.Web.HttpContext.Current.Session["CurrentUserRoles"].ToString();
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "! (" + userRoles + ")", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Administrar" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}